/* ---- Reset  ----*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* -------------------------------- */

/* ---- Header ---- */
header {
  height: 100px;
}

nav {
  float: right;
}

li {
  margin: 20px 30px  0 0;
  display: inline;
  float: left;
  margin-left: 5px;
}

td {
  background-color: #666;
  width: 4px;
  height: 4.5px;
  border: solid 2px #FFF;
}

#share-box {
  background-color: #EEE;
  text-align: center;
  border-radius: 1px;
  padding: 3px;
  margin: 2px;
  width: 50px;
  height: 20px;
}

a {
  text-decoration: none;
  color: #000;

}
a:hover {
  text-decoration: underline;
}
#share-box:hover {
  background-color: #DDD;
}
#share-box > a:hover {
  text-decoration: none;
  cursor: default;
}

/* ---- Main ---- */

.main {
  margin-top: 100px;
}

.google_logo {
  top: 400px;
  margin: auto;
  clear: both;
  display: block;
}

.search_form {
  display: block;
  padding-right: 35px;
  margin: auto;
  width: 500px;
}

.form_outline {

}

#search_field {
  height: 27px;
  width: 541px;
  border: 1px solid rgba(0,0,0,.3);
}

#submit {
  width: 112px;
  margin: 8px;
  padding: 1px;
  border: 1px solid #EEE;
  background-color: #CCC;
}

.inline_2_buttons {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  background-color: #DDD;
  padding-top: 18px;
  border-radius: 2px;
  width: 111px;
  height: 25px;
}

.feeling_lucky {

}

.center_content {
  margin: auto;
  clear: both;
  display: block;
  margin-top: 10px;
  width: 250px;
}


/* ---- Footer ---- */

footer {
  position: fixed;
  bottom:0;
  height: 40px;
  width: 100%;
  background-color: #DDD;
}

footer > div {
  display: inline;
}

.left_footer > a  {
  float: left;
  padding-top: 10px;
}

.right_footer  {
  margin-left: 400px;
}


